# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs
*.log

# dotenv
.env

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
.dockerignore

# Test output
coverage/
